@model ArticlesSite.Models.BlogCard
@using Sitecore.Data.Items;

@{
    ViewBag.Title = "Articles";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    var HomeButton = Sitecore.Context.Database.GetItem("{319231EA-9BD8-4EE8-A456-2D99D661B554}");

    Item TagsFolder = Sitecore.Context.Database.GetItem("{2859D640-A69F-4272-9F94-A853C3C484B1}");
    List<Sitecore.Data.Items.Item> TagsInner = new List<Sitecore.Data.Items.Item>();
   

}
<main role="main" class="container blog-post-detail">
    <div class="row">

        @{ 

            var item = Sitecore.Context.Database.GetItem(Model.BlogURL);
        }

        <div class="blog-post-detail-card card col-lg-12">

            <img class="card-img-top">@Html.Sitecore().Field("ArticleLargeImage", item)</img>
            <div class="card-body bg-light">
                <strong class="d-inline-block mb-2 text-success">@Html.Sitecore().Field("Title", item)</strong>
                <h3 class="card-title">@Html.Sitecore().Field("Category", item)</h3> <!---Category-->
                <div class="mb-1 text-muted">@Html.Sitecore().Field("PostedDate", item, new { format = "MMM-dd-YYYY" })</div>
                <p> @Html.Sitecore().Field("LongDescription", item)</p>
                <div class="blog-detail-tag-list">
                    <span class="read-more-heading">Read more: </span>
                    <a class="btn btn-info" href="#" role="button">Tag</a>
                    <a class="btn btn-info" href="#" role="button">Super Extra Long Tag</a>
                    <a class="btn btn-info" href="#" role="button">Extra Long Tag</a>
                </div>
            </div>
        </div>
    </div>
</main>
